<h1>Make it capitalized</h1>
<form class="" action='/title'>
  <div class="form-group">
    <label for="title">Enter a word to capitalize it...</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Send</button>
</form>
