<h1>Make it capitalized</h1>
<form class="" action='/result'>
  <div class="form-group">
    <label for="input_string">Enter a word to capitalize it...</label>
    <input name="input_string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Do thing!</button>
</form>
